@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-lightitalic.eot");
  src: url("../fonts/roboto-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-lightitalic.woff") format("woff"), url("../fonts/roboto-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Kaushan';
  src: url("../fonts/kaushanscript-regular.eot");
  src: url("../fonts/kaushanscript-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kaushanscript-regular.woff") format("woff"), url("../fonts/kaushanscript-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-bold.eot");
  src: url("../fonts/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

html,
body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  color: #fff;
  overflow-x: hidden;
  opacity: 1; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

/*--------------------HEADER--------------------*/
header {
  background: url("../img/bg/bg-header.jpg");
  background-size: cover; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px; }
  .navigation__logo a {
    color: #fff;
    font: bold 30px/30px "Montserrat", "Arial", sans-serif; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .navigation__list a {
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: .3s ease-out;
      transition: .3s ease-out; }
      .navigation__list a:hover {
        color: #FCE38A; }
  .navigation__elem {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 50px;
    font: 400 14px/35px "Montserrat", "Arial", sans-serif;
    border-bottom: 3px solid rgba(252, 227, 138, 0);
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out; }
    .navigation__elem:not(.navigation__icon):hover {
      border-bottom: 3px solid #fce38a; }
  .navigation__icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navigation__icon-shop, .navigation__icon-glass {
    display: inline-block;
    width: 25px;
    height: 20px; }
  .navigation__icon-shop {
    background: url("../img/icons/banner_shop.png") no-repeat; }
  .navigation__icon-glass {
    background: url("../img/icons/banner_glass.png") no-repeat; }

.header-intro {
  text-align: center;
  margin-top: 165px; }
  .header-intro h2 {
    font: 400 72px/72px "Kaushan", "Arial", sans-serif;
    color: #fff;
    padding-bottom: 25px; }
  .header-intro h1 {
    font: 700 150px/140px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    padding-bottom: 65px;
    position: relative; }
    .header-intro h1::after {
      content: "";
      position: absolute;
      width: 4%;
      height: 3px;
      bottom: 0;
      left: 48%;
      background-color: #fff; }
  .header-intro__button {
    display: inline-block;
    margin: 50px 0 100px;
    border: 4px solid #fff;
    padding: 12px 40px;
    color: #fff;
    font: 700 14px/14px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
    .header-intro__button:hover {
      color: #000;
      background-color: #fff;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }

/*--------------------ABOUT--------------------*/
.about {
  padding: 90px 0 110px; }

.sect-title {
  text-align: center;
  color: #333333; }
  .sect-title h3 {
    font: 400 24px/24px "Kaushan", "Arial", sans-serif;
    margin-bottom: 20px; }
  .sect-title h2 {
    font: 700 30px/30px "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    padding-bottom: 30px;
    position: relative; }
    .sect-title h2::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 48%;
      width: 4%;
      height: 3px;
      background-color: #F38181; }

.sect-description {
  text-align: center;
  padding: 42px 120px 100px; }
  .sect-description p {
    font: 400 15px/24px "Roboto", "Arial", sans-serif;
    color: #b6b6b6; }

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .about-content__elem {
    width: 30%;
    background-color: #95e1d3;
    height: 100%;
    cursor: pointer; }
    .about-content__elem-mask {
      background-size: cover;
      width: 100%;
      height: 237px;
      -webkit-transition: .3s ease-out;
      transition: .3s ease-out;
      position: relative; }
      .about-content__elem-mask:hover {
        margin: -10px 0 0 -10px; }
      .about-content__elem-mask-content {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        opacity: 0;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(252, 227, 138, 0.8)));
        background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)); }
        .about-content__elem-mask-content h5 {
          font: 700 18px/18px "Montserrat", "Arial", sans-serif;
          margin-top: 15px; }
        .about-content__elem-mask-content:hover {
          opacity: 1; }

.about-content__elem-mask-first {
  background-image: url("../img/photo/pic-1.jpg"); }

.about-content__elem-mask-second {
  background-image: url("../img/photo/pic-2.jpg"); }

.about-content__elem-mask-third {
  background-image: url("../img/photo/pic-3.jpg"); }

.counter {
  background-color: #95e1d3; }
  .counter-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .counter-content__elem {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 20%;
      border-right: 1px solid #b5eae0;
      padding: 90px 0; }
      .counter-content__elem span:first-child {
        font: 700 72px/72px "Montserrat", "Arial", sans-serif;
        padding-bottom: 20px; }
      .counter-content__elem span:last-child {
        font: 400 14px/14px "Montserrat", "Arial", sans-serif;
        text-transform: uppercase; }
      .counter-content__elem:first-child {
        border-left: 1px solid #b5eae0; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
