@import "variable";
@import "libs";
@import "fonts";
html,
body {
    height: 100%
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    color: $default-color;
    overflow-x: hidden;
    opacity: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/*--------------------HEADER--------------------*/

header {
    background: url('../img/bg/bg-header.jpg');
    background-size: cover;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    &__logo a {
        color: $default_color;
        font: bold 30px/30px $Montserrat;
    }
    &__list {
        display: flex;
        a {
            color: $default_color;
            text-transform: uppercase;
            transition: .3s ease-out;
            &:hover {
                color: $hover_color;
            }
        }
    }
    &__elem {
        display: inline-flex;
        margin-right: 50px;
        font: 400 14px/35px $Montserrat;
        border-bottom: 3px solid rgba(252, 227, 138, 0);
        transition: .3s ease-out;
        &:not(.navigation__icon):hover {
            border-bottom: 3px solid rgba(252, 227, 138, 1)
        }
    }
    &__icon {
        align-items: center;
    }
    &__icon-shop,
    &__icon-glass {
        display: inline-block;
        width: 25px;
        height: 20px;
    }
    &__icon-shop {
        background: url('../img/icons/banner_shop.png') no-repeat;
    }
    &__icon-glass {
        background: url('../img/icons/banner_glass.png') no-repeat;
    }
}

.header-intro {
    text-align: center;
    margin-top: 165px;
    h2 {
        font: 400 72px/72px $Kaushan;
        color: $default_color;
        padding-bottom: 25px;
    }
    h1 {
        font: 700 150px/140px $Montserrat;
        text-transform: uppercase;
        padding-bottom: 65px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 4%;
            height: 3px;
            bottom: 0;
            left: 48%;
            background-color: $default_color;
        }
    }
    &__button {
        display: inline-block;
        margin: 50px 0 100px;
        border: 4px solid $default_color;
        padding: 12px 40px;
        color: $default_color;
        font: 700 14px/14px $Montserrat;
        text-transform: uppercase;
        transition: .5s ease-in-out;
        &:hover {
            color: #000;
            background-color: $default_color;
            transition: .5s ease-in-out;
        }
    }
}


/*--------------------ABOUT--------------------*/

.about {
    padding: 90px 0 110px;
}

.sect-title {
    text-align: center;
    color: $sect_title;
    h3 {
        font: 400 24px/24px $Kaushan;
        margin-bottom: 20px;
    }
    h2 {
        font: 700 30px/30px $Montserrat;
        text-transform: uppercase;
        padding-bottom: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 48%;
            width: 4%;
            height: 3px;
            background-color: $uderline_color;
        }
    }
}

.sect-description {
    text-align: center;
    padding: 42px 120px 100px;
    p {
        font: 400 15px/24px $Roboto;
        color: #b6b6b6;
    }
}

.about-content {
    display: flex;
    justify-content: space-between;
    &__elem {
        width: 30%;
        background-color: $fon_color;
        height: 100%;
        cursor: pointer;
        &-mask {
            background-size: cover;
            width: 100%;
            height: 237px;
            transition: .3s ease-out;
            position: relative;
            &:hover {
                margin: -10px 0 0 -10px;
            }
            &-content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: .3s ease-out;
                background: linear-gradient(to bottom, rgba(243, 129, 129, .8), rgba(252, 227, 138, .8));
                h5 {
                    font: 700 18px/18px $Montserrat;
                    margin-top: 15px;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.about-content__elem-mask-first {
    background-image: url('../img/photo/pic-1.jpg')
}

.about-content__elem-mask-second {
    background-image: url('../img/photo/pic-2.jpg')
}

.about-content__elem-mask-third {
    background-image: url('../img/photo/pic-3.jpg')
}


/*--------------------COUNTER SECTION--------------------*/

.counter {
    background-color: $fon_color;
    &-content {
        display: flex;
        &__elem {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            border-right: 1px solid #b5eae0;
            padding: 90px 0;
            span:first-child {
                font: 700 72px/72px $Montserrat;
                padding-bottom: 20px;
            }
            span:last-child {
                font: 400 14px/14px $Montserrat;
                text-transform: uppercase;
            }
            &:first-child {
                border-left: 1px solid #b5eae0;
            }
        }
    }
}


/*--------------------INFO SECTION--------------------*/

.info {
    padding: 90px 0 110px;
    &__sect-content-1,
    &__sect-content-2 {
        display: inline-flex;
        justify-content: space-between;
    }
    &__sect-content-1 {
        border-bottom: 1px solid #e5e5e5;
    }
    &__sect-content_item {
        display: inline-flex;
        justify-content: space-between;
        width: 30%;
        padding: 65px 0 50px;
        &_img {
            width: 10%;
            min-width: 35px;
            img {
                width: 100%;
                display: block;
                transition: transform .5s ease-in;
                &:hover {
                    transform: rotate(360deg);
                    transition: transform .5s ease-in;
                    cursor: pointer;
                }
            }
        }
        &_text {
            width: 81%;
            h3 {
                color: $sect_title;
                text-transform: uppercase;
                font: 400 14px/14px $Montserrat;
                margin-bottom: 20px;
            }
            p {
                color: #999999;
                font: 400 15px/24px $Roboto;
            }
        }
    }
}


/*--------------------DEVICES SECTION--------------------*/

.devices {
    padding: 110px 0 0;
    background: url('../img/bg/bg-features.jpg') center;
    background-size: cover;
    position: relative;
    &__content {
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 500px;
        }
        &_img_absolute {
            position: absolute;
            bottom: -10%;
            right: 23%;
            img {
                width: 100%;
                display: block;
            }
        }
    }
}


/*--------------------SERVICE SECTION--------------------*/

.service {
    padding: 110px 0 120px;
    &-content {
        display: flex;
        justify-content: space-between;
        &__img {
            width: 48%;
            img {
                display: block;
                width: 100%;
            }
        }
        &__accordion {
            width: 48%;
            &-section {
                border: 1px solid #e5e5e5;
                margin-bottom: 12px;
                cursor: pointer;
                &_title {
                    display: block;
                    color: $sect_title;
                    text-transform: uppercase;
                    transition: all linear 0.15s;
                    font: 400 14px/14px $Montserrat;
                    border-bottom: 1px solid #e5e5e5;
                    padding: 25px;
                    position: relative;
                    &.active {
                        background: #95e1d3;
                    }
                }
                &_text {
                    display: none;
                    color: #999999;
                    overflow: auto;
                    height: 170px;
                    padding: 10px;
                    font: italic 300 15px/24px $Roboto;
                }
            }
        }
    }
}

@import "media"; // Always at the end